.addBtn{
    padding: 5px 0px;
    button{
        width: 150px;
        background-color: #7276e67a;
        height: 30px;
        outline: none;
        border:none;
        cursor: pointer;
        color: white;
    
        &:hover{
            box-shadow: 1px 0px 5px black;
        }
        &:active{
            font-weight: bold;
        }
    }

}
